{% extends ["main.html.twig", "@Common/main.html.twig"] %}

{% block title %}{{ 'messenger.label'|trans }}{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <pre>{{ output|raw }}</pre>
        </div>
    </div>
{% endblock %}