services:
  _defaults:
      public: false
      autowire: true
      autoconfigure: true

  _instanceof:
      Twig\Extension\ExtensionInterface:
          tags: ['twig.extension']

      Symfony\Component\EventDispatcher\EventSubscriberInterface:
          tags: ['kernel.event_subscriber']

  SchulIT\CommonBundle\Twig\CommonExtension:
    arguments:
      $menuService: "%app.common.menu%"

  SchulIT\CommonBundle\Twig\ConfigVariable:
    arguments:
      - "%app.common.name%"
      - "%app.common.host%"
      - "%app.common.path%"
      - "%app.common.ssl%"
      - "%app.common.version%"
      - "%app.common.project_url%"
      - "%app.common.logo%"
      - "%app.common.small_logo%"
      - "%app.common.logo_link%"

  # Event Listener
  SchulIT\CommonBundle\EventSubscriber\LocaleSubscriber:
    arguments:
      $locales: '%app.common.locales%'

  SchulIT\CommonBundle\EventSubscriber\ConsoleSubscriber:
    calls:
      - [ "setContainer", ["@service_container"]]

  # DateHelper
  SchulIT\CommonBundle\Helper\DateHelper: ~

  # Monolog
  SchulIT\CommonBundle\Monolog\DatabaseHandler:
    arguments:
      $connection: "@doctrine.dbal.default_connection"

  # Commands
  SchulIT\CommonBundle\Command\ClearLogsCommand:
    tags:
      - { name: shapecode_cron.cron_job, expression: '@daily' }

  # Utils
  SchulIT\CommonBundle\Utils\RefererHelper: ~