/* CSS Document */
html, body {
  background: $background;
  margin: 0;
  padding: 0;
  font: normal 90% "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  min-height: 100vh;
}

@include media-breakpoint-up(lg) {
  .navbar {
    .navbar-nav {
      .nav-item {
        .dropdown-menu {
          background: $red !important;
          color: white;

          &.show {
            display: none !important;
          }
        }
      }
    }
  }
}

// Menu
header {
  .brand {
    color: $gray-800;
    font-size: $font-size-lg;
  }

  .logo {
    padding: 5px;
    padding-right: 10px;

    > img {
      max-height: 80px;
    }
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  .navbar {
    padding: 0;
    background: $primary-menu-background;

    .navbar-toggler {
      margin: $navbar-padding-y $navbar-padding-x;
    }

    &.no-logo {
      .navbar-nav {
        .nav-item:first-child {
          border-top-left-radius: $border-radius;
        }
      }
    }

    .navbar-nav {
      .nav-item {

        &.open {
          background: $secondary-menu-background;
        }

        &.active,
        &.current_ancestor {
          background: rgba($secondary-menu-background, 0.8);
        }

        &.open {
          background: $secondary-menu-background;
          .fa-caret-down {
            @extend .fa-caret-up;
          }
        }

        .nav-link {
          padding: $navbar-padding-y+$nav-link-padding-y $nav-link-padding-x;
          color: white;
          transition: all .1s ease-out;

          &:hover {
            background: transparentize($white, 0.75);
          }
        }
      }
    }
  }

  .navbar.navbar-sub {
    padding: $navbar-padding-y;
    background: $secondary-menu-background;

    .navbar {
      background: transparent !important;
    }

    .nav-item {
      transition: all .1s ease-out;

      &.active,
      &:hover {
        border-radius: 0.25rem;
        background: transparentize($white, 0.75);
      }
    }

    .nav-link {
      color: white;
      padding: 0.5rem 0.75rem;
    }
  }

  .navbar-nav {
    > li.dropdown.show {
      position: static;

      .dropdown-menu {
        display: flex;
        width: 100%;
        text-align: center;
        left: 0;
        right: 0;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}

.main {
  padding-bottom: 10px !important;

  small, .small {
    font-size: 90% !important;
  }

  table {
    p.description {
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      margin-bottom: 0;
      max-height: 3em;
    }

    td {
      p, ul {
        margin-bottom: 0 !important;
      }
    }

    .column-sm {
      width: 20px;
    }
    .column-60 {
      width: 60px;
    }
    .column-100 {
      width: 100px;
    }
    .column-md,
    .column-120 {
      width: 120px;
    }
    .column-180 {
      width: 180px;
    }
    .column-200 {
      width: 200px;
    }
    .column-lg,
    .column-240 {
      width: 240px;
    }
    .column-280 {
      width: 280px;
    }
    .column-320 {
      width: 320px;
    }
  }
}

.breadcrumb {
  background: $breadcrumb-background;
  padding: 0.75rem 19px;
}

footer {
  border-top: 1px solid #ccc;
  background: $footer-background;
  width: 100%;

  .logo {
    max-height:80px;
  }

  > div {
    margin: 0 auto !important;
    padding: 30px !important;
    width: 50%;
  }

  p {
    margin: 6px 0;
  }
}

form {
  small.form-text {
    font-size: 100% !important;
  }
}

.card {
  margin-bottom: 1rem;

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .card-body {
    p:last-child,
    p:only-child {
      margin-bottom: 0;
    }
  }

  .icon {
    width: 40px;
    height: 40px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    color: $white;
    background: $secondary;
    border-radius: 50%;
    text-align: center;
  }

  a.card-body {
    text-decoration: none;
    color: $black;

    -webkit-transition: background-color 0.1s ease-in-out;
    -o-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;

    &:hover {
      background: $card-border-color;
      color: $black
    }
  }

  > .table {
    border-top: 0;
  }
}

.form-group.row {
  @extend .form-group
}

.invalid-feedback {
  font-size: 100%;
}