/* CSS Document */
html, body {
  margin: 0;
  padding: 0;
  font-size: 90%;
  background: $background;
}

@include color-mode(dark) {
  html, body {
    background: $background-dark !important;
  }
}

body {
  min-height: 100vh;
}

@include media-breakpoint-up(sm) {
  .navbar {
    .navbar-nav {
      .nav-item {
        .dropdown-menu {
          background: $red !important;
          color: white;

          &.show {
            display: none !important;
          }
        }
      }
    }
  }
}

// Menu
header {
  .brand {
    color: $gray-800;
    font-size: $font-size-lg;
  }

  .logo {
    padding: 5px;
    padding-right: 10px;

    > img {
      max-height: 80px;
    }
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  .navbar {
    padding: 0;
    background: $primary-menu-background;

    .navbar-toggler {
      margin: $navbar-padding-y $navbar-padding-x;
    }

    &.no-logo {
      .navbar-nav:first-child {
        .nav-item:first-child {
          border-top-left-radius: $border-radius;
        }
      }
    }

    .navbar-nav {
      li.dropdown.show {
        .dropdown-menu {
          display: inherit;
          border-radius: 0;
          background-color: transparent;

          li {
            display: block;
            text-align: left;

            a {
              color: white;

              &:hover {
                background: transparentize($white, 0.75);
              }
            }
          }
        }
      }

      .nav-item {

        &.open {
          background: $secondary-menu-background;
        }

        &.active,
        &.current_ancestor {
          background: rgba($secondary-menu-background, 0.8);
        }

        &.open {
          background: $secondary-menu-background;
          .fa-caret-down {
            @extend .fa-caret-up;
          }
        }

        .nav-link {
          padding: $navbar-padding-y+$nav-link-padding-y $nav-link-padding-x;
          color: white;
          transition: all .1s ease-out;

          &:hover {
            background: transparentize($white, 0.75);
          }
        }

        .navbar-text {
          display: block;
        }
      }
    }
  }

  .navbar.navbar-sub {
    padding: $navbar-padding-y;
    background: $secondary-menu-background;

    .navbar {
      background: transparent !important;
    }

    .nav-link {
      transition: all .1s ease-out;
      color: white;
      padding: 0.5rem 0.75rem;

      &.active,
      &:hover {
        border-radius: 0.25rem;
        background: transparentize($white, 0.75);
      }
    }

    .nav-item:not(:first-child) {
      margin-left: 0.25rem;
    }

    .nav-item:not(:last-child) {
      margin-right: 0.25rem;
    }
  }

  .navbar-nav {
    > li.dropdown.show {
      position: static;

      .dropdown-menu {
        display: flex;
        width: 100%;
        text-align: center;
        left: 0;
        right: 0;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}

.main {
  padding-bottom: 10px !important;

  small, .small {
    font-size: 90% !important;
  }

  table {
    p.description {
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      margin-bottom: 0;
      max-height: 3em;
    }

    td {
      p, ul {
        margin-bottom: 0 !important;
      }
    }
    sm {
      width: 20px;
    }
    .column-60 {
      width: 60px;
    }
    .column-100 {
      width: 100px;
    }
    .column-md,
    .column-120 {
      width: 120px;
    }
    .column-180 {
      width: 180px;
    }
    .column-200 {
      width: 200px;
    }
    .column-lg,
    .column-240 {
      width: 240px;
    }
    .column-280 {
      width: 280px;
    }
    .column-320 {
      width: 320px;
    }
  }
}

footer {
  border-top: 1px solid #ccc;
  background: $footer-background;
  width: 100%;

  .logo {
    max-height:80px;
  }

  > div {
    margin: 0 auto !important;
    padding: 30px !important;
    width: 50%;
  }

  p {
    margin: 6px 0;
  }
}

form {
  small.form-text {
    font-size: 100% !important;
  }
}

legend.col-form-label.required,
label.col-form-label.required {
  &::after {
    font-family: $fa-style-family;
    font-weight: 900;
    content: " \f069";
    color: red;
  }
}

.card {
  margin-bottom: 1rem;

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .card-body {
    p:last-child,
    p:only-child {
      margin-bottom: 0;
    }
  }

  .icon {
    width: 40px;
    height: 40px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    color: $white;
    background: $secondary;
    border-radius: 50%;
    text-align: center;
  }

  > .table-responsive:first-child,
  > .table-responsive:first-child + table {
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
  }

  > .table-responsive:last-child,
  > .table-responsive:last-child + table {
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
  }

  .table {
    margin-bottom: 0;

    tr {
      td:first-child {
        border-left: 0;
      }

      td:last-child {
        border-right: 0;
      }
    }

    tr:first-child {
      border-top: 0;

      td, th {
        border-top: 0;
      }
    }

    tbody {
      tr:last-child {
        border-bottom: 0;

        td, th {
          border-bottom: 0;
        }
      }
    }
  }
}

.card-link {
  text-decoration: none;

  -webkit-transition: background-color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background: $card-border-color;
    text-decoration: none;
  }
}

.form-group.row {
  @extend .form-group
}

.invalid-feedback {
  font-size: 100%;
}

.sticky-sidebar {
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 1rem;
}

@include color-mode(dark) {
  footer {
    background: var(--#{$prefix}body-bg);
    border-color: var(--#{$prefix}border-color-translucent);

    img {
      padding: $dark-footer-img-padding;
      background: $dark-footer-img-background;
      border-radius: $dark-footer-img-border-radius;
    }
  }

  .breadcrumb {
    --#{$prefix}breadcrumb-bg: var(--#{$prefix}body-bg);
  }
}

table {
  th, td {
    padding: 0.75rem 1.25rem !important;
  }
}

form {
  .form-text {
    font-size: 100%;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;

    &.nav-link,
    &.btn,
    &.dropdown-item,
    &.page-link{
      text-decoration: none;
    }
  }
}

table {
  &.table-bordered {
    thead {
      tr {
        th:first-child {
          border-left: 0;
        }

        th:last-child {
          border-right: 0;
        }
      }
    }
  }
}

.pointer {
  cursor: pointer;
}