$enable-shadows: true;
$enable-gradients: true;

// Import SCSS from custom
@import "../../../../../../assets/css/custom/*.scss";

// Import Bootstrap
@import './node_modules/bootstrap/scss/bootstrap';

// Import FontAwesome
@import './node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import './node_modules/@fortawesome/fontawesome-free/scss/solid';
@import './node_modules/@fortawesome/fontawesome-free/scss/regular';
@import './node_modules/@fortawesome/fontawesome-free/scss/brands';

@import './vendor/schulit/common-bundle/Resources/assets/css/variables.scss';
@import './vendor/schulit/common-bundle/Resources/assets/css/additions.scss';
@import '../../node_modules/bootstrap-darkmode/darktheme';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/dark/variables.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/dark/layout';

// Import SCSS from overrides
@import "../../../../../../assets/css/overrides/*.scss";

body, html {
  background: $background;
  font: normal 90% "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Lucida Grande", sans-serif;
}

footer {
  .logo {
    max-height:80px;
  }

  > div {
    margin: 0 auto !important;
    padding: 30px !important;
    width: 50%;
  }

  p {
    margin: 6px 0;
  }
}

.retry-button {
  margin-top: 10px !important;
}

.switch-method {
  ul {
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width:768px) {
  header#page-header {
    padding:10px;
  }
}

form {
  small.form-text {
    font-size: 100% !important;
  }
}

legend.col-form-label.required,
label.col-form-label.required {
  &::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: " \f069";
    color: red;
  }
}