// Source: https://github.com/twbs/bootstrap/blob/main/site/assets/scss/_callouts.scss

$bd-gutter-x: 3rem;
$bd-callout-variants: info, warning, danger, success !default;

.bs-callout {
  --#{$prefix}link-color-rgb: var(--bd-callout-link);
  --#{$prefix}code-color: var(--bd-callout-code-color);

  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: var(--bd-callout-color, inherit);
  background-color: var(--bd-callout-bg, var(--bs-gray-100));
  border: 1px solid var(--bd-callout-border, var(--bs-gray-300));
  border-left: 0.3rem solid var(--bd-callout-border, var(--bs-gray-300));
  border-radius: var(--bs-border-radius);

  h4 {
    margin-bottom: .25rem;
  }

  > :last-child {
    margin-bottom: 0;
  }

  + .bd-callout {
    margin-top: -.25rem;
  }

  .highlight {
    background-color: rgba($black, .05);
  }
}

// Variations
@each $variant in $bd-callout-variants {
  .bs-callout-#{$variant} {
    --bd-callout-color: var(--bs-#{$variant}-text-emphasis);
    --bd-callout-bg: var(--bs-#{$variant}-bg-subtle);
    --bd-callout-border: var(--bs-#{$variant}-border-subtle);
  }
}

.bs-callout {
  &.bs-callout-card {
    border-top: none;
    border-right: none;
    border-radius: 0;
    margin: 0;
  }
}

.card-body {
  > .bs-callout:first-child {
    margin-top: 0;
  }
}
