:root,
[data-bs-theme=light] {
  // Bootstrap overrides
  --bs-primary: #004675;
  --bs-secondary: #1172b9;
  --bs-info: #3A87AD;
  --bs-info-rgb: 58,135,173;
  --bs-light: #c2f0fc;
  --bs-light-rgb: 194,240,252;
  --bs-dark: #030302;
  --bs-dark-rgb: 3,3,2;
  --bs-blue: var(--bs-primary);

  --bs-border-radius: .25rem;

  --bs-info-text-emphasis: #173645;
  --bs-info-bg-subtle: #d8e7ef;
  --bs-info-border-subtle: #3a87ad;

  // Theme colors
  --background: #f5f5f5;

  // Menu
  --primary-menu-background: var(--bs-primary);
  --secondary-menu-background: var(--bs-secondary);

  // Footer
  --footer-background: #e1e1e1;
  --footer-border-color: #ccc;
  --footer-img-padding: 0;
  --footer-img-background: none;
  --footer-img-border-radius: 0;
}

.breadcrumb {
  --bs-breadcrumb-bg: #e1e1e1;
  --bs-breadcrumb-padding-y: .75rem;
  --bs-breadcrumb-padding-x:  1rem;
  --bs-breadcrumb-border-radius: var(--bs-border-radius);
}

.card {
  --bs-card-cap-padding-y: 0.75rem;
  --bs-card-cap-padding-x: 1.25rem;
}

.list-group-item {
  --bs-list-group-item-padding-x: 1.25rem;
  --bs-list-group-item-padding-y: 0.75rem;
}

[data-bs-theme=dark] {
  // Bootstrap overrides
  .breadcrumb {
    --bs-breadcrumb-bg: var(--bs-body-bg);
  }

  --background: #222222;

  --footer-background: var(--bs-body-bg);
  --footer-border-color: var(--bs-border-color-translucent);
  --footer-img-padding: 0.5rem;
  --footer-img-background: #bebebe;
  --footer-img-border-radius: 0.25rem;
}