services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  SchulIT\CommonBundle\Autoconfig\Saml\SamlConfigExporter: ~

  SchulIT\CommonBundle\Autoconfig\Roles\RoleConfigExporter: ~