services:
  _defaults:
      public: false
      autowire: true
      autoconfigure: true

  _instanceof:
      Twig\Extension\ExtensionInterface:
          tags: ['twig.extension']

      Symfony\Component\EventDispatcher\EventSubscriberInterface:
          tags: ['kernel.event_subscriber']

  # Event Listener

  # DateHelper
  SchulIT\CommonBundle\Helper\DateHelper: ~

  # Monolog
  SchulIT\CommonBundle\Monolog\DatabaseHandler:
    arguments:
      $connection: "@doctrine.dbal.default_connection"

  # Commands
  SchulIT\CommonBundle\Command\ClearLogsCommand: ~

  # Utils
  SchulIT\CommonBundle\Utils\RefererHelper: ~

  # Security
  SchulIT\CommonBundle\Security\CertificateCreator: ~