body[data-bs-theme=dark] {
  .CodeMirror {
    border-color: $input-border-color;
    background: $input-bg;
    color: var(--bs-body-color);
  }

  .CodeMirror-cursor {
    border-color: var(--bs-body-color);
  }

  span.CodeMirror-selectedtext {
    background: $gray-600;
  }

  .CodeMirror-focused .CodeMirror-selected {
    background: $input-bg;
  }

  .editor-toolbar {
    border-color: $input-border-color;
  }

  .editor-toolbar.fullscreen {
    background: var(--bs-card-bg);
  }

  .editor-toolbar button {
    color: var(--bs-body-color);
  }

  .editor-toolbar button.active,
  .editor-toolbar button:hover {
    background: transparent;
    border-color: var(--bs-card-border-color);
  }

  .editor-preview-full,
  .editor-preview-side {
    background: var(--bs-body-bg);
    border-color: var(--bs-card-border-color);
    color: var(--bs-body-color);
  }

  .editor-preview > p {
    margin-top: 0
  }

  .editor-preview table td,
  .editor-preview table th {
    border: 1px solid var(--bs-card-border-color);
    padding: 5px;
  }
}