body[data-bs-theme=dark] {
  .#{$choices-selector} {
    &.is-disabled {
      .#{$choices-selector}__inner,
      .#{$choices-selector}__input {
        background-color: $choices-bg-color-disabled;
      }
    }
  }

  .#{$choices-selector}[data-type*="select-one"] {
    .#{$choices-selector}__input {
      border-bottom: $border-width solid $input-border-color;
      background-color: $input-bg;
      color: $gray-400;
    }
    .#{$choices-selector}__button {
      background-image: $choices-icon-cross-inverse;
    }
    &:after {
      border-color: $choices-text-color transparent transparent transparent;
    }
    &.is-open:after {
      border-color: transparent transparent $choices-text-color transparent;
      margin-top: -7.5px;
    }
  }

  .#{$choices-selector}[data-type*="select-multiple"],
  .#{$choices-selector}__inner {
    background-color: $input-bg;
    border: $border-width solid $input-border-color;
    .is-focused &,
    .is-open & {
      border-color: $gray-400;
    }
    .is-open & {
      border-radius: $choices-border-radius $choices-border-radius 0 0;
    }
    .is-flipped.is-open & {
      border-radius: 0 0 $choices-border-radius $choices-border-radius;
    }
  }

  .#{$choices-selector}__list--multiple {
    .#{$choices-selector}__item {
      background-color: $choices-primary-color;
      border: 1px solid $gray-400;
      &.is-highlighted {
        background-color: darken($gray-400, 5%);
        border: 1px solid darken($gray-400, 10%);
      }
      .is-disabled & {
        background-color: darken($gray-400, 25%);
        border: 1px solid darken($gray-400, 35%);
      }
    }
  }

  .#{$choices-selector}__list--dropdown {
    background-color: $input-bg;
    border-color: $input-border-color;;
    .is-open & {
      border-color: $input-border-color;;
    }
    .#{$choices-selector}__item--selectable {
      &.is-highlighted {
        background-color: $list-group-hover-bg;
      }
    }
  }

  .#{$choices-selector}__heading {
    border-bottom: none;
    color: lighten(#333, 30%);
  }

  .#{$choices-selector}__input {
    background-color: $input-bg;
    color: $input-color;
  }
}