$dark-brand-background: white !default;

$dark-primary-menu-background: theme-color("dark") !default;
$dark-secondary-menu-background: theme-color("secondary") !default;

$dark-breadcrumb-background: $default-dark-bg !default;
$dark-footer-background: $default-dark-bg !default;

$dark-footer-img-padding: 0 !default;
$dark-footer-img-background: transparent !default;
$dark-footer-img-border-radius: none !default;